In [58]:
# Import Dependencies
import os
import pandas as pd
import numpy as nd

In [59]:
# Make a reference to the election_data.csv file path
csv_path = "Resources/election_data.csv"

# Import the election_data.csv file as a dataframe
election_data_df = pd.read_csv(csv_path, encoding="utf-8")
election_data_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [60]:
candidates_only_df = election_data_df[["Candidate", "Voter ID"]]
candidates_only_df

        Candidate  Voter ID
0            Khan  12864552
1          Correy  17444633
2            Khan  19330107
3            Khan  19865775
4            Khan  11927875
...           ...       ...
3520996      Khan  18050509
3520997      Khan  13060332
3520998      Khan  16754708
3520999      Khan  12083146
3521000  O'Tooley  14526187

[3521001 rows x 2 columns]

In [75]:
# Complet a list of candidates who recieved votes
#votes_received = candidates_only_df["Candidate"].value_counts() / candidates_only_df["Voter ID"].count()
votes_received = candidates_only_df["Candidate"].value_counts()
votes_received.head()

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [62]:
# Count the total number of votes cast
Total_Votes = candidates_only_df["Voter ID"].count()
Total_Votes

3521001

In [78]:
# calculate the percentage of votes each candidate won
#election_results_df = pd.DataFrame(votes_received)/Total_Votes
election_results_df = candidates_only_df["Candidate"].value_counts()/Total_Votes
election_results_df.head()

Khan        0.63
Correy      0.20
Li          0.14
O'Tooley    0.03
Name: Candidate, dtype: float64

In [91]:
print("Election Results")
print("--------------------")
print("Total Votes:",(Total_Votes))
print("--------------------")
print(election_results_df)
print("--------------------")
print("Winner: Khan")
print("--------------------")

Election Results
--------------------
Total Votes: 3521001
--------------------
Khan        0.63
Correy      0.20
Li          0.14
O'Tooley    0.03
Name: Candidate, dtype: float64
--------------------
Winner: Khan
--------------------

In [93]:
f = open("ElectionResults.txt", "w")
f.write(
    "Election Results"
    "--------------------"
    "Total Votes:",(Total_Votes)
    "--------------------"
    (election_results_df)
    "--------------------"
    "Winner: Khan"
    "--------------------"
    )
f.close()

SyntaxError: invalid syntax (<ipython-input-93-d4d71db2171f>, line 6)