In [52]:
# Set OS and import panda
import os
import pandas as pd
import numpy as nd

In [53]:
# Store filepath in a variableb
bank_info = "budget_data.csv"

In [54]:
# Read our Data file with the pandas library
bank_info_df = pd.read_csv(bank_info, encoding="ISO-8859-1")

In [55]:
# Show just the header
bank_info_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [56]:
# find the total number of months in the data frame
bank_info_df.describe

<bound method NDFrame.describe of         Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]>

In [64]:
# Calculate the total of "Profit/Losses" over the entire period
net_total_PandL = bank_info_df["Profit/Losses"].sum()
net_total_PandL

38382578

In [68]:
# Calculate the average change in "Profit/Losses" over the entire period
avg_PandL = bank_info_df["Profit/Losses"].mean()
avg_PandL

446309.0465116279

In [76]:
# Calculate the greatest decrease in profits
gr_dec = bank_info_df["Profit/Losses"].min()
gr_dec

-1196225

In [72]:
# Calculate the greatest increase in profits
gr_inc = bank_info_df["Profit/Losses"].max()
gr_inc

1170593

In [77]:
#Final script should print to the terminal:
print ("Financial Analysis")
print ("-------------------------")
print ("Total Months: 86 ")
print ("Total :",(net_total_PandL))
print ("Average Change :", (avg_PandL))
print ("Greatest Increase in Profits :", (gr_inc))
print ("Greatest Decrease in Profits :" , (gr_dec))

Financial Analysis
-------------------------
Total Months: 86
Total : 38382578
Average Change : 446309.0465116279
Greatest Increase in Profits : 1170593
Greatest Decrease in Profits : -1196225

In [ ]:
# Final script should print to a text file with results:
f = open("Financial Analysis.txt", "w")
f.write(
    "Financial Analysis"
    "--------------------"
    "Total Months: 86"
    "Total :",(net_total_PandL)
    (election_results_df)
    "--------------------"
    "Winner: Khan"
    "--------------------"
    )
f.close()